<div class="row">
<div class="col-md-12" >
<h1>Home</h1>
 
 <h3>Live</h3>
 	<a href='/scrape/all'>/scrape/all</a><br>
 	<a href='/scrape?exchange=ise'>/scrape?exchange=ise</a><br>
 	<a href='/scrape?exchange=ftse350'>/scrape?exchange=ftse350</a><br>
 	<a href='/scrape?exchange=coinranking'>/scrape?exchange=coinranking</a><br>	
 
    
<p>	
	<a href='/scrape/ise'>/ise</a><br>
	<a href='/scrape/ftse350'>/ftse350</a><br>
	<a href='/scrape/coinranking'>/coinranking</a><br>	
	
	
<p>

	<a href='/scrape/assets/ise/AIBG_I'>/scrape/assets/ise/AIBG_I</a><br>	
	<a href='/scrape/assets/ise/BIRG_I'>/scrape/assets/ise/BIRG_I</a><br>	
	<a href='/scrape/assets/ise/CRH_I'>/scrape/assets/ise/CRH_I</a><br>	
	<a href='/scrape/assets/ftse350/TSCO'>/scrape/assets/ise/TSCO</a><br>	
	<a href='/scrape/assets/coinranking/ripple-xrp'>/scrape/assets/coinranking/ripple-xrp</a><br>	
	
	
	
 
  <h3>Test Cases For Prices</h3>
		<a href='/scrape/test?n=1'>/scrape/test?n=0</a><br>  
		<a href='/scrape/test?n=1'>/scrape/test?n=1</a><br>
		<a href='/scrape/test?n=2'>/scrape/test?n=2</a><br>		
		<a href='/scrape/test?n=3'>/scrape/test?n=3</a><br>
		<a href='/scrape/test?n=4'>/scrape/test?n=4</a><br>		
		<a href='/scrape/test?n=5'>/scrape/test?n=5</a><br>				
</div>
</div>
 